apiVersion: apps/v1
kind: Deployment
metadata:
  name: github-runner
  labels:
    app: github-runner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: github-runner
  template:
    metadata:
      labels:
        app: github-runner
    spec:
      containers:
      - name: github-runner
        image: gjensidigetest.azurecr.io/plt/github-runner
        env:
        - name: GITHUB_OWNER
          value: R-I-T-E-S-H
        - name: GITHUB_REPOSITORY
          value: selfhosted-runners
        - name: GITHUB_PAT # should stored separately in a Kubernetes secret
          value: 
